*.log
*.pyc
build/
dist/
*.egg-info
.idea/
lightning_logs/
venv/
.vscode/
notebooks/moments_cvpr/mobilenet_v3_small-047dcff4.pth
notebooks/moments_cvpr/moments.ckpt
notebooks/moments_cvpr/r2plus1d_18-91a641e6.pth
notebooks/moments_cvpr/resnet18-f37072fd.pth
.DS_Store
